body {
  width: 100%;
  height: 100vh;
  text-align: center;
  background: url("../images/friendsBackground.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 2em;

}

.container {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-self: center;
  position: relative;
  top: 200px;
}

div {
  margin: 5px;
}

#startBtn {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-self: center;
  position: relative;
  top: 110px;
}

#question {
  font-weight: lighter;
  margin-top:-30px;
  /*font-size: -1.5em;*/
}

#options {
  margin-top: 30px;
}

#timer {
  font-size: 1em;
  font-weight: lighter;
  color: black;
  position: relative;
  bottom: 20px;
  min-height:30px;
}

#winGif {
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
    width: 0%;
    height: 0%;
    background-color: red;
}

#loseGif {
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
    width: 0%;
    height: 0%;
    background-color: red;
}

.padFix{
	padding-top: 20px;
}

.btn {
  -webkit-border-radius: 33;
  -moz-border-radius: 33;
  border-radius: 33px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 1px;
  text-decoration: none;
  background-color: #BDA9FE;
}

.btn:hover {
  background: #ffffff;
  text-decoration: none;
}
